<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title> AlexAdmin |Powered by Alex</title>

    <script type="text/javascript" src="./public/static/Admin/js/jquery.min.js"></script>

</head>

<body>

<div id="main_container">
    <div class="header_login">
        <div class="logo">
            <a href="#">
                <img src="/public/static/Admin/image/logo.gif" alt title border="0" />
            </a>
        </div>
    </div>
    <div class="login_form">
        <h3>Admin Login Panel</h3>
        <a href="#" class="forgot_pass">忘记密码</a>

        <form action="" method="post" class="niceform">


            <fieldset>

                Username:


            </fieldset>
        </form>

    </div>

</div>
</body>